doctype
html
    head
        title Hello 여러분
    body
        h2 링크 모음
        if rows.length > 0
            ul
                each row in rows
                    li
                        a(href='#{row.url}') '#{row.title}'
        h3 감사합니다.